<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Lista de Horários</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding text-wrap>
  <ion-list >
    <ion-list-header color="danger" text-center>
      <ion-icon color="dark" ios="ios-bus" md="md-bus">
         <label class="hor">{{bus.sabados.nome}}</label>
      </ion-icon>
    </ion-list-header>

    <ion-list class="lista" *ngFor="let bu2 of bus2">
      <h1 text-center>{{bu2.nome}}</h1>
      <label class="ho" *ngFor="let b2 of bu2.horarios">
       {{b2}}
      </label>
    </ion-list>
    </ion-list>
  <br/>

    <ion-list>
    <ion-list-header color="danger" text-center>
      <ion-icon color="dark" ios="ios-bus" md="md-bus">
        <label class="hor">{{bus.dias.nome}}</label>
      </ion-icon>
    </ion-list-header>

    <ion-list *ngFor="let bu3 of bus3" class="lista">
      <h1 text-center>{{bu3.nome}}</h1>
      <label class="ho" *ngFor="let b3 of bu3.horarios">
        {{b3}}
      </label>
    </ion-list>
    </ion-list>
    <br/>

    <ion-list>
    <ion-list-header color="danger" text-center>
      <ion-icon color="dark" ios="ios-bus" md="md-bus">
        <label class="hor">{{bus.domingos_feriados.nome}}</label>
      </ion-icon>
    </ion-list-header>

    <ion-list *ngFor="let bu4 of bus4" class="lista">
      <h1 text-center>{{bu4.nome}}</h1>
      <label class="ho" *ngFor="let b4 of bu4.horarios">
        {{b4}}
      </label>
    </ion-list>
    </ion-list>
</ion-content>



<ion-footer>
  <ion-toolbar color="dark">
    <ion-title text-center>Todos os direitos Reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
