page-bus-linha {
    .hor{
        font-size: 25px;
        color:aliceblue;
    }

    .ho{
        font-size: 25px;
        padding: 25px;
    }

    .lista{
        background-color:darkblue;
        color:white;
    }

}
