page-bus-linha {
    .hor{
        font-size: 25px;
        color:aliceblue;
    }

    .ho{
        font-size: 20px;
        color:white;
        
    }

    .lista{
        background-color:darkblue;
        color:white;
    }

}
