<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Bem Vindo ao BusEvolution</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Informe a linha que deseja:</h1>
  <ion-searchbar class="ser" (ionInput)="getbus($event)"></ion-searchbar>
  <ion-list *ngFor="let b of bus2" text-center>
    <ion-item *ngIf="flag" color="secondary" class="ser" text-wrap>
      <h1>
        <ion-icon color="dark" ios="ios-bus" md="md-bus">
          {{b.linha}}
        </ion-icon>
      </h1>
      <h2>
      <button color="dark" ion-button round (click)="buscar(b)">
        <ion-icon ios="ios-time" md="md-time">  Horarios</ion-icon>
      </button>
      <button class="cor" ion-button round (click)="buscar(b)">
        <ion-icon ios="ios-analytics" md="md-analytics">  Rota</ion-icon>
      </button>
      </h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title text-center>Todos os direitos Reservados.</ion-title>
  </ion-toolbar>
</ion-footer>